<%- include("partials/header_work.ejs") %>

<div class="container d-flex justify-content-center pt-4">
    <div class="big-box">
        <div class="box-date d-flex justify-content-center mb-3">
            <h1 class="date-text"> Work List </h1>
        </div>
        <div class="box d-flex justify-content-center">
            <form action="/work/addnewwork" class="task-form d-flex justify-content-center mb-5 mt-3" method="POST">
                <input type="text" id="new-task" name="newwork" placeholder="Add a New Work">          
                <input type="submit" id="submit-task" value="Add">
            </form>
        
            <% if(locals.workArrayToday) { %>
                <% workArrayToday.forEach((work) => { %>
                    <div class="task-items mb-3">
                        <input class="myCheckBox" type="checkbox" id="task1">
                        <p class="task-text ps-3"><%= work %></p>
                    </div>  
                <% }) %>
            <% } %>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
     $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            const taskText = $(this).siblings('.task-text'); // Lấy phần tử có nội dung task
            if($(this).prop("checked")) {
                taskText.addClass('completed'); // Thêm lớp để tạo hiệu ứng gạch ngang
            } else {
                taskText.removeClass('completed'); // Loại bỏ lớp để hủy hiệu ứng gạch ngang
            }
        });
    });
</script>
<%- include("partials/footer.ejs") %>